<h1>
  Get ready for the magic stuff.
</h1>

<script type="text/javascript">
  var token = window.localStorage.getItem("lastfmtospotify");
  var auth_object = JSON.parse('<%= @auth_object %>');
  var provider = '<%= @provider %>';
  var payload = {
    authToken: token,
    authObject: auth_object,
    provider: provider
  };
  var xhr = new XMLHttpRequest();
  var url = "/auth/connect";
  xhr.open('POST', url, true);
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.onload = function () {
    console.log(this.responseText);

    location.href = "/";
  };
  xhr.send(JSON.stringify(payload));
</script>
