<h1>
  How it works
</h1>

<p>
  Do you have a last.fm profile that you've had for yonks and you'd really like to delve into the annals of your music library? Well this is just the tool for you. I have written a tool that will take every single song you've ever listened to on last.fm and create a Spotify playlist for you with the songs (deduped).
</p>

<h2>
  How long will it take?
</h2>

<p>
  Depending on how many scrobbles you've got and how long you've been a member, it can range from 30 seconds to 20 minutes. Personally I have nearly 300,000 scrobbles so maybe put a cuppa on if you're like me! If you don't want to wait around to <strong>witness the magic</strong>, see "I can't be bothered to wait around" below
</p>

<h2>
  What are some of the gotchas?
</h2>

<ul>
  <li>
    Spotify has a hard limit for the number of songs on a playlist. The Internet says it is 10,000 but I have found it's actually around 10,694. In this scenario, the converter splits your library up into separate playlists.
  </li>
  <li>
    The deduper tries it's best, but sometimes songs and artist names can be misspelt or differ slightly.
  </li>
  <li>
    The converter works in batches, so you should start seeing songs being added almost instantly.
  </li>
</ul>

<h2>
  I can't be bothered to wait around
</h2>

<p>
  No worries, just stick your email into the final step of the conversion, and I will send you an email when the import is completed. You should also be able to see that a Spotify playlist has automatically been created in your account, and that songs are being banged in this very minute.
</p>

<h2>
  Any problems?
</h2>

<p>
  If you run into any issues, or if you find you never receive an email signalling import completion, then please email me at hello@adamjamesbull.co.uk
</p>

<h1>
  Get started
</h1>

<p>
  Please connect your Last.fm and Spotify profiles below:
</p>

<%= react_component("landing", { services: @services }) %>