<html lang="en-GB">
  <%= stylesheet_link_tag "application" %>
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
  <body>
    <%= render 'layouts/header' %>
    <main>
      <%= yield %>
    </main>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>